@media screen and (max-width: 969px) {
    #content {
        flex-direction: column-reverse;
        gap: 32px;
    }

    .card {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        box-shadow: none;
        flex-wrap: wrap;
    }

    #img-main {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
    }

}

@media screen and (max-width: 500px) {
    main h1 {
        font-size: 34px;
        font-weight: 700;
    }

    #img-main {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
    }
}

